* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

html {
  --color-gris: #606060;
  --color-blaco: #ececec;
  --color-gris-claro: #ababab;
  --color-productos: #629c87;
}

.productoClick {
  background-color: var(--color-blaco);
  margin: 3rem;
  border-radius: 2rem;
}

.productoClick .producto {
  display: grid;
  width: 100%;
  justify-content: space-evenly;
  padding: 1rem;
  grid-template-areas:
    "n  n"
    "i  d"
    "v  p";
}

.productoClick .producto .nombre {
  grid-area: n;
}

.productoClick .producto .descripcion {
  grid-area: d;
}

.productoClick .producto .imagen {
  grid-area: i;
}

.productoClick .producto .puntuacion {
  grid-area: p;
}

.productoClick .producto .volver {
  grid-area: v;
}
