* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

html {
  --color-gris: #606060;
  --color-blaco: #ececec;
  --color-gris-claro: #ababab;
  --color-productos: #629c87;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(./imgs/fondo-mc.jpg);
}

aside {
  padding: 2rem;
  padding-right: 0;
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  background-color: var(--color-blaco);
  margin: 3rem;
  margin-left: 0;
  border-radius: 2rem;
  padding: 2rem;
}

.titulo {
  font-weight: 500;
  font-size: 2rem;
  color: var(--color-blaco);
  text-transform: uppercase;
  font-weight: bold;
}

h2 {
  color: var(--color-productos);
  font-size: 1.8rem;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.boton-menu {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: transparent;
  border: 0;
  color: var(--color-blaco);
  cursor: pointer;
  padding: 0.75rem;
  font-weight: 500;
  font-size: 1rem;
  width: 100%;
}

.boton-menu.active {
  background-color: var(--color-blaco);
  color: var(--color-productos);
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.boton-carrito {
  margin-top: 2rem;
}

.contenedor-productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.producto {
  height: 400px;
  width: 200px;
  display: flex;
  flex-direction: column;
  border: 4px solid var(--color-productos);
  border-radius: 1rem;
}

.producto:hover {
  filter: contrast(0.8);
}

.redirect {
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  flex-grow: 1;
}

.producto-imagen {
  width: 100%;
  max-height: 300px;
  object-fit: contain;
}

.producto-detalles {
  color: var(--color-blaco);
  background-color: var(--color-productos);
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.producto-titulo {
  font-size: 1rem;
}

.producto-agregar {
  color: var(--color-productos);
  border: 0;
  border-radius: 1rem;
  border: 1px solid var(--color-blaco);
  padding: 0.25rem;
  background-color: var(--color-blaco);
  text-transform: uppercase;
  cursor: pointer;
}

.producto-agregar:hover {
  background-color: var(--color-productos);
  color: var(--color-blaco);
}

